body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    grid-template-areas:
    "mainSection mainSection mainSection searchSection searchSection"
    "mainSection mainSection mainSection searchSection searchSection"
    "mainSection mainSection mainSection miscSection miscSection"
    "mainSection mainSection mainSection miscSection miscSection"
    "mainSection mainSection mainSection miscSection miscSection";
    margin:0;
    grid-row-gap: 0;
    grid-column-gap: 0;
}

#mainBody {
    background-color: #1b1b1b;
    color: white;
}

div {
    position: relative;
    border-style: solid;
    border-color: midnightblue;
    border-width: 3px;
    padding: 10px;
}

.mainSection {
    grid-area: mainSection;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 60.5vw;
    height: 97vh;
    margin:0;
    grid-row-gap: 0;
    grid-column-gap: 0;
    padding: 30px;
}

.searchSection {
    grid-area: searchSection;
    border-bottom-width: 3px;
    width: 33vw;
    padding: 30px;
    background-color: #131212;
}

.miscSection {
    grid-area: miscSection;
    width: 33vw;
    border-bottom-width: 3px;
    padding: 30px;
    border-top-width: 0;
    background-color: #131212;
}

p {
    line-height: 1.35;
    position: relative;
    color: lightgray;
}

input {
    background-color: grey;
    border-color: gray;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

img {
    border-style: solid;
    border-width: 3px;
    border-color: midnightblue;
}

#otherResultsHeader {
    color: lightgrey;
}

/*
#nightModeToggle {
    font-size:3em;
    border-width: 0;
    position: absolute;
    right: 0;
}
*/