body {
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    display:grid;
    grid-template-areas:
    "mainSection mainSection mainSection searchSection searchSection"
    "mainSection mainSection mainSection searchSection searchSection"
    "mainSection mainSection mainSection miscSection miscSection"
    "mainSection mainSection mainSection miscSection miscSection"
    "mainSection mainSection mainSection miscSection miscSection";
    margin:0;
    grid-row-gap: 0;
    grid-column-gap: 0;
}

div {
    position: relative;
    border-style: solid;
    border-color: grey;
    border-width: 3px;
    padding: 10px;
    border-top-width: 0;
}

.mainSection {
    grid-area: mainSection;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 62vw;
    height: 97vh;
    margin-right: 0;
}

.searchSection {
    grid-area: searchSection;
    border-bottom-width: 3px;
    width: 35vw;
}

.miscSection {
    grid-area: miscSection;
    width: 35vw;
    border-bottom-width: 0;
}

p {
    line-height: 1.5;
    position: relative;
}